.sliderStyles {
  height: 100%;
  background-size: cover;
  border-radius: 25px;
}

.arrowContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.rightArrowStyles {
  font-size: 66px;
  color: #edc7b7;
  cursor: pointer;
}

.leftArrowStyles {
  font-size: 66px;
  color: #edc7b7;
  font-weight: 600;
  cursor: pointer;
}

.dotContainerStyle {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 40px;
}

.dotStyle {
  margin: 0 3px;
  cursor: pointer;
  font-size: 30px;
  color: white;
}

.activeDot {
  margin: 0 3px;
  cursor: pointer;
  font-size: 30px;
  color: black;
}
