.topbar-container {
  display: flex;
  height: 150px;
  width: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: #edc7b7;
}

.menu-item {
  padding: 0 20px;
  a {
    display: flex;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
  }
  .menu-text {
    color: black;
    text-align: center;
  }
}

.active-menu-item {
  .menu-text {
    transition: all 0.2s;
    color: #008b8b;
    font-weight: 700;
    font-size: 42px;
  }
}

.menu-text:hover {
  color: rgb(0, 36, 153);
  transition: all 0.2s;
}
