.pageContainer {
  display: flex;
  position: relative;
  width: 70%;
  height: 90%;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  border-radius: 20px;
  background-color: rgba(229, 175, 97, 0.7);
  padding: 20px;
  overflow-y: scroll;
  position: relative;
}

.pageContainer::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
