.galerieContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.galerieHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    border-bottom: black solid 2px;
  }
}

.galeryStructure {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// Skeleton

.gallerySkeleton {
  width: 250px;
  height: 170px;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.2s;
  animation: ease-in;
  border-radius: 20px;
  border-width: 1px;
  border-color: black;
  margin: 20px;
  opacity: 0.3;
  animation: skeletonLoading 1s linear infinite alternate;
}
