.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
}

.oNasColumn {
  flex: 1;
  width: 50%;
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.map {
  display: flex;
  align-items: center;
  justify-content: center;
  border: black solid 1px;
}

.sneaky {
  font-size: 12px;
  text-align: center;
  margin: 10px auto;
}

.oNasPage {
  display: flex;
  flex-direction: column;
  justify-content: start;

  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
  }
}

.mapSkeleton {
  width: 600px;
  height: 450px;
  opacity: 0.3;
  animation: skeletonLoading 1s linear infinite alternate;
}
