.header {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}
.header h1 {
  font-size: 36px;
}
.map {
  display: flex;
  align-items: center;
  justify-content: left;
}
.sneaky {
  font-size: 12px;
  text-align: center;
  margin: 10px auto;
}
