.home {
  width: 100%;
  height: 100%;
}

.containerStyles {
  width: 100%;
  height: 40vh;
  padding: 20px;
}

.text-container {
  padding: 0 20px;
}

.homeHeader {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    border-bottom: 3px solid black;
  }
}

.homeImageCard {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px black;
  border-radius: 20px;
}
