.home {
  width: 100%;
  height: 100%;
}

.containerStyles {
  width: 100%;
  height: 40vh;
  padding: 20px;
}

.text-container {
  padding: 20px;
}

.header {
  padding-bottom: 20px;
}

.homeImageCard {
  width: 100%;
  height: 100%;
  position: relative;
}
