.containerNavbar {
  display: flex;
  justify-content: center;
  height: 90%;
  align-items: center;
  background-position: center;
  background-size: cover;
  width: 20%;
  min-width: 360px;
  background-color: rgba(229, 175, 97, 0.7);
  border-radius: 0 20px 20px 0;
}

.topSection {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 20px;
  margin-top: 30px;
}

.navMenuItems {
  list-style: none;
  padding: 0 20px;
}

.navLink {
  width: fit-content;
  position: relative;
  list-style-type: none;
  margin: 10px;
  padding-top: 10px;
  cursor: pointer;

  .icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }
}

.navLink::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: width 0.5s ease;
}

.navLink:hover::before,
.activeLink::before {
  width: 100%;
}

.navLink:hover {
  .icon {
    color: #fff;
    transition: color 0.3s linear;
  }

  .menuText {
    color: #fff;
    transition: color 0.3s linear;
  }
}

.menuText {
  font-weight: 500;
  font-size: 30px;
}

.activeLink {
  .icon {
    color: #fff;
  }

  .menuText {
    color: #fff;
    font-weight: 700;
  }
}

.languages {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
}

.languageButton {
  border-radius: 10px;
  border: none;
  background-color: beige;
  min-width: 70px;
  min-height: 25px;
  margin: 10px;
}
