.container {
  height: 100vh;
  background-color: #edc7b7;
}

.top-section {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 20px;
}

.nav-menu-items {
  list-style: none;
  padding: 0 20px;
  width: 300px;
}

.nav-link {
  padding: 10px 0;
  padding-bottom: 60px;
}

.menu-text {
  font-weight: 500;
  font-size: 36px;
  &:hover {
    color: #008b8b;
    transition: all 0.2s;
  }
}

.active-link {
  .menu-text {
    color: #008b8b;
    font-weight: 700;
    font-size: 42px;
  }
}
